@font-face {
  font-family: "Roboto";
  src: url(font/Roboto-Regular.ttf);
}
html {
  font-family: "Roboto";
}
body {
  margin: 0;
}
.main_body {
  display: flex;
}
.content {
  display: flex;
  flex-direction: column;
}
.nav,
.first,
.second,
.third,
.footer {
  display: flex;
  justify-content: center;
  width: 100vw;
}
.nav_cont,
.first_cont,
.second_cont,
.third_cont,
.footer_cont {
  display: flex;
  width: 970px;
}
.nav {
  
  height: 60px;
  position: fixed;
  top: 0px;
  background-color: gray;
}
.nav_cont {
  color: white;
  align-items: center;
  justify-content: space-between;
}
.nav_buttons {
  border-width: 0px;
  display: flex;
}
.nav_butt {
  font-size: 18px;
  color: white;
  padding: 10px 20px;
  border: 0;
  background-color: rgba(255, 255, 255, 0);
}
.first {
  background-image: url(https://picsum.photos/id/1025/1920/1080);
  height: 100vh;
  background-color: teal;
}
.first_cont {
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  color: white;
  text-shadow: 2px 2px 3px black;
}
.first_cont>h2{
  font-size: 35px;
  width: 550px;
}
.first_cont>p{
  font-size: 20px;
}
.first_cont>button{
  color:white;
  font-size: 20px;
  border: solid white;
  background-color: rgba(255, 255, 255, 0);
  padding: 5px 40px;
  margin: 20px 0px;
}
.second {
  height: 400px;
  background-color: lightblue;
}
.third {
  height: 400px;
  background-color: lightgreen;
}
.footer {
  height: 75px;
  background-color: lightgray;
}
