@font-face {
  font-family: "Roboto";
  src: url(font/Roboto-Regular.ttf);
}
* {
  scroll-behavior: smooth;
  font-family: "Roboto";
}
.main_body * {
  display: flex;
}
.content {
  flex-direction: column;
}
.nav,
.first,
.second,
.third,
.footer {
  justify-content: center;
  width: 100%;
}
.nav_cont,
.first_cont,
.second_cont,
.third_cont,
.footer_cont {
  width: 970px;
}
.nav *,
.first *,
.second *,
.third *,
.footer * {
  margin: 10px;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
  font-size: 36px;
}
p,
a {
  font-weight: 400;
  font-size: 18px;
}
.nav {
  position: absolute;
  height: 50px;
  background-color: #4e4e4e;
}
.nav_cont {
  color: white;
  align-items: center;
  justify-content: space-between;
}
.nav_cont > h1 {
  font-size: 26px;
}
.nav_buttons {
  display: none;
  border-width: 0px;
}
.nav_butt,
button {
  color: white;
  border: 0;
  background-color: rgba(255, 255, 255, 0);
}
.nav_cont > i {
  font-size: 1.5em;
}
.kontakt:disabled {
  background-color: #4e4e4e;
}
.kontakt {
  cursor: not-allowed;
}
a:link,
a:visited,
a:active {
  text-decoration: none;
}
.first {
  height: 100vh;
}
.first {
  background-image: url(https://picsum.photos/id/1029/1920/1080);
  background-position: center;
  background-size: cover;
}
.first_cont {
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.first_oferta {
  color: white;
  border: solid #ffffff;
  width: 165px;
  height: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.background_shadow {
  margin: 0px;
  width: 100%;
  background: rgba(0, 0, 0, 0.25);
  justify-content: center;
}
.href {
  margin: 0;
  padding: 0;
}
.second {
  background-color: #f1f1f1;
}
.second_cont {
  flex-direction: column;
  justify-content: center;
}
h3 {
  align-self: center;
  color: #152d41;
}
.spec {
  flex-direction: column;
}
.foto {
  align-self: center;
  border-radius: 50%;
  width: 250px;
  aspect-ratio: 1/1;
  background-image: url(image/Bez_tytułu1.png);
  background-position: center;
  background-size: contain;
}
.spec_info {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.third {
  background-color: #405d78;
}
h4 {
  align-self: center;
  text-align: center;
  font-size: 26px;
  color: white;
}
.third_cont {
  flex-direction: column;
}
.main_servi {
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.servi {
  font-size: 30px;
  text-align: center;
  background-color: antiquewhite;
  justify-content: center;
  align-items: center;
  width: 300px;
  aspect-ratio: 1/1;
}
.servi > p {
  font-size: 24px;
  width: 70%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.red_dot {
  position: absolute;
  border-radius: 50%;
  width: 37px;
  aspect-ratio: 1/1;
  background: #e07a64;
  transform: translate(-150px, -150px);
}
.footer {
  height: 150px;
  background-color: #4e4e4e;
}
.footer_cont {
  font-size: 20px;
  color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h5 {
  font-size: 18px;
  text-align: center;
}
@media screen and (min-width: 640px) {
  .footer_cont {
    justify-content: space-between;
    flex-direction: row;
  }
  .footer {
    height: 70px;
  }
  .nav_buttons {
    display: flex;
  }
  .nav_cont > i {
    display: none;
  }
  .servi {
    width: 250px;
    height: 250px;
  }
  .red_dot {
    transform: translate(-125px, -125px);
    width: 30px;
  }
  .spec:nth-child(even) {
    flex-direction: row;
  }
  .spec:nth-child(even) > .spec_info {
    align-items: flex-start;
  }
  .spec:nth-child(odd) {
    flex-direction: row-reverse;
    text-align: right;
  }
  .spec:nth-child(odd) > .spec_info {
    align-items: flex-end;
  }
  .spec:nth-child(odd) > .foto {
    transform: scaleX(-1);
  }
  h3,
  h4 {
    align-self: flex-start;
  }
  .foto {
    width: 200px;
    height: 200px;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1024px) {
  .first_oferta {
    transition: all 1s ease-in-out;
  }
  .first_oferta:hover {
    background: white;
    color: black;
  }
  .servi {
    width: 250px;
    height: 250px;
    transition: all 0.5s ease-in-out;
  }
  .servi:hover {
    transform: scale(1.05);
  }
  .red_dot {
    width: 22px;
  }
}
